@import 'defaults.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../images/background.png");
    font-family: Helvetica;
    font-size:13px;
    background-color:#edeef0;
    margin:0;
    padding-bottom:50px;
}
.container {
    max-width:1040px;
    margin:auto;
    @media (max-width: 1140px) {
        padding: 20px;
    }
}
header {
    background-color:#5c2cf1;
    height:45px;
    box-shadow: 0px 0px 4px #333;
    position:relative;
    z-index:99;
}
header .container {
    display:flex;
    height:inherit;
    justify-content: center;
    align-items: center;
}
header img {
    height:20px;
}
header a {
    display: flex;
}

form {
    width: 400px;
    height: 30%;
    background-color: #FFF;
    border: 1px solid #c9cacc;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10%;
    text-align: -webkit-center;
}
form label {
    display: block;
    color: #5c2cf1;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
form input {
    display: block;
}
form .input {
    font-size:15px;
    height:40px;
    width: 100%;
    outline: 0;
    border:0;
    background-color:#EEE;
    border-radius:10px;
    padding:15px;
    margin-bottom:10px;
}
form .input:focus {
    background-color:#DDD;
}
form .button {
    border:0;
    padding:10px 20px;
    background-color:#5c2cf1;
    border-radius:10px;
    color:#FFF;
    font-size:15px;
    margin-bottom:10px;
    cursor:pointer;
    box-shadow:0px 0px 3px #999;
    margin-bottom: 20px;
    margin-top: 20px;
}
form .button:hover {
    background-color:#477dbb;
}
form a {
    text-decoration:none;
    color:#5c2cf1;
}
.predio {
    width: 70%;
    margin-top: 10%;
    float: right;
    @media (max-width: 425px) {
        display:none;
    }
}